/* ===== CONTENEDOR PRINCIPAL ===== */
.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
  overflow: visible;
}

/* ===== BOTONES ===== */
.carrusel button {
  background: #1e1e1e;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  margin: 2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
  z-index: 10;
}

.carrusel button:hover {
  background: #333;
}

/* ===== ZONA DE TARJETAS ===== */
.row {
  display: flex;
  gap: 4rem;
  overflow: visible;
  /* clave del carrusel */
  padding: 10px 0;
}

/* ===== EFECTO GENERAL PARA LAS CARDS ===== */
/* Se aplica a cualquier componente dentro */
.row>* {
  transition: transform 0.2s;
}

.row>*:hover {
  transform: scale(1.05);
  z-index: 5;
}