/* CONTENEDOR GENERAL DE LA TARJETA */
.album-card {
  width: 160px;
  padding: 12px;
  border-radius: 10px;
  background: #181818;
  color: #fff;
  text-align: center;

  /* espacio interno entre elementos */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* HOVER PROFESIONAL */
.album-card:hover {
  transform: translateY(-6px); /*subo para el eje*/
  background: #282828;
}

/* IMAGEN DE LA TARJETA */
.album-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

/* TÍTULO */
.album-card h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 1.3;
  color: #fff;
}

/* ARTISTA O SUBTÍTULO */
.album-card p {
  font-size: 12px;
  margin: 0;
  color: #b3b3b3;
}
