<nav class="sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <!--Cuando el ratón entra y cuando sale-->

  <div class="item" routerLink="#">
    <span class="icon">*</span>
    <span class="label">Biblioteca</span>
  </div>
  <div class="item" routerLink="#">
    <span class="icon">*</span>
    <span class="label">Perfil</span>
  </div>

  <div class="item" (mouseenter)="onMouseEnterSearch()" (mouseleave)="onMouseLeaveSearch()">
    <span class="icon">*</span>
    <span class="label">Buscar</span>

    @if (isSearchMenuOpen) {
    <div class="submenu">
      <button routerLink="/tracks">Canciones</button>
      <button routerLink="/artists">Artistas</button>
    </div>
    }
  </div>
</nav>