:host {
  display: block;
}

/* Barra cerrada */
.sidebar {
  width: 72px;
  height: 100%;
  background: #141414;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: width 0.25s ease;
  box-sizing: border-box;
  overflow: hidden;
}

:host(.expanded) .sidebar {/* cuando el host tiene la clase expanded el sidebar se vuelve ancho*/
  width: 220px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.icon {
  font-size: 20px;
    text-shadow: 0 0 8px var(--accent);
    color: var(--accent);
}

.label {
  opacity: 0;
  transition: opacity 0.2s ease;
  text-shadow: 0 0 8px var(--accent);
  color: var(--accent);
}

:host(.expanded) .label { /*si está ecpandido mostramos el texto*/
  opacity: 1;
}
.submenu {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid #35303030;
  display: flex;
  flex-direction: column;
  gap: 6px;
  animation: fadeIn 0.2s ease;
}

.submenu-item {
  font-size: 14px;
  color: #fff;
  opacity: 0.75;
  cursor: pointer;
  transition: opacity 0.2s ease, padding-left 0.2s ease;
}

button{
  background-color: #141414;
    text-shadow: 0 0 8px var(--accent);
    color: var(--accent);
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-3px); }
  to   { opacity: 1; transform: translateY(0); }
}
