<nav class="sidebar" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

  <div class="item" routerLink="#">
    <span class="icon">*</span>
    <span class="label">Biblioteca</span>
  </div>
  <div class="item" routerLink="/profile">
    <span class="icon">*</span>
    <span class="label">Perfil</span>
  </div>

  <div class="item" (mouseenter)="onMouseEnterSearch()" (mouseleave)="onMouseLeaveSearch()">
    <span class="icon">*</span>
    <span class="label">Buscar</span>

    @if (isSearchMenuOpen) {
    <div class="submenu">
      <button routerLink="/tracks">Canciones</button>
    </div>
    }
  </div>
</nav>