<div class="player-container">
  <audio #audioElement (loadedmetadata)="onMetadataLoaded()" (timeupdate)="onTimeUpdate()" (ended)="onTrackEnded()">
  </audio>

  <div class="track-info">
    <img [src]="currentTrack.cover" alt="" class="cover-image">
    <div class="track-details">
      <div class="track-title-wrapper">
        <span class="track-title">{{ currentTrack.title }}</span>
      </div>
      <span class="track-artist">{{ currentTrack.artist }}</span>
    </div>
  </div>

  <div class="controls-area">
    <div class="buttons">

      <button class="icon-btn" (click)="skip('prev')" title="Anterior">
        <span class="material-symbols-rounded">skip_previous</span>
      </button>

      <button class="play-btn-circle" (click)="playPause()" title="Reproducir">
        <span class="material-symbols-rounded">
          {{ isPlaying ? 'pause' : 'play_arrow' }}
        </span>
      </button>

      <button class="icon-btn" (click)="skip('next')" title="Siguiente">
        <span class="material-symbols-rounded">skip_next</span>
      </button>

    </div>

    <div class="progress-wrapper">
      <span class="time">{{ formatTime(currentTime) }}</span>
      <div class="progress-bar-container">
        <div class="progress-background"></div>
        <div class="progress-fill" [style.width.%]="(currentTime / duration) * 100 || 0"></div>
        <input type="range" [min]="0" [max]="duration" [value]="currentTime" (change)="seek($event)"
          class="progress-input">
      </div>
      <span class="time">{{ formatTime(duration) }}</span>
    </div>
  </div>

  <div class="volume-area">
    <div class="volume-control">
      <span class="material-symbols-rounded volume-icon" (click)="toggleMute()">{{ getVolumenIcon() }}</span>
      <input type="range" [min]="0" [max]="1" step="0.1" [value]="volume" (change)="setVolume($event)"
        class="volume-input">
    </div>
  </div>
</div>