header {
    background-color: #000000;
    color: white;
    padding: 0.5rem 2rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

app-side-bar.expanded~header {
    left: 270px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    flex-shrink: 0;
    white-space: nowrap;
}

.logo-icon {
    color: #1db954;
    font-size: 2rem;
    margin-right: 2px;
}

.nav-links {
    font-size: 14px;
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 80px;
    padding: 0;
}

.nav-links a {
    color: #b3b3b3;
    text-decoration: none;
    transition: color 0.3s;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links a.active {
    text-shadow: 0 0 8px #1db954;
    color: #fff;
}

.home-icon {
    font-size: 2.5rem;
}

.explore-icon {
    font-size: 2.5rem;
}