header {
    background-color: var(--nav-bar);
    color: white;
    padding: 1rem 2rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

app-side-bar.expanded ~ header {
    left: var(--sidebar-w-expanded);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    flex-shrink: 0;
    white-space: nowrap;
}

.nav-links {
    font-size: 14px;
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 80px;
    padding: 0;
}

.nav-links a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s;
    white-space: nowrap;
}

.nav-links a:hover,
.nav-links a.active {
    text-shadow: 0 0 8px var(--accent);
    color: var(--accent);
}