<header>
  <nav class="nav-bar">
    <a routerLink="/" class="logo"><iconify-icon class="logo-icon"
        icon="teenyicons:netlify-solid"></iconify-icon>SoundHub</a>
    <app-search-bar></app-search-bar>
    <ul class="nav-links">
      <!--Lista de enlaces provisionales !-->
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><iconify-icon
            class="home-icon" icon="teenyicons:webpack-solid"></iconify-icon></a></li>
      <li><a routerLink="/tracks" routerLinkActive="active"><iconify-icon class="explore-icon" class="explore-icon"
            icon="teenyicons:webpack-outline"></iconify-icon></a></li>
    </ul>
    <app-login-btn></app-login-btn>
  </nav>
</header>