<header>
    <nav class="nav-bar">
        <a routerLink="/inicio" class="logo">SoundHub</a>
        <app-search-bar (search)="onSearch($event)"></app-search-bar>
        <ul class="nav-links">
        <!--Lista de enlaces provisionales !-->
        <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/explorar" routerLinkActive="active">Explorar</a></li>
        <li><a routerLink="/favoritas" routerLinkActive="active">Favoritas</a></li>
        </ul>
        <app-login-btn></app-login-btn>
    </nav>
</header>