@if (track()) {
<article class="track-card" [routerLink]="['/trackDetail', track().id]">
  <div class="artwork-container">
    <img [src]="track().cover" alt="Artwork for {{ track().title }}" />

    <button class="play-btn" (click)="togglePlay($event)">
      @if (!isPlaying) {
      <!-- PLAY -->
      <svg viewBox="0 0 24 24">
        <path d="M8 5v14l11-7z" />
      </svg>
      } @else {
      <!-- PAUSE -->
      <svg viewBox="0 0 24 24">
        <path d="M6 5h4v14H6zM14 5h4v14h-4z" />
      </svg>
      }
    </button>
    @if (playlistService.playlists().length > 0) {
    <button class="add-to-list-btn" (click)="togglePlaylistMenu($event)">
      +
    </button>
    }

  </div>

  @if (playlistService.playlists().length > 0 && showPlaylistMenu) {
  <div class="playlist-dropdown" (click)="$event.stopPropagation()">
    <h6>Añadir a...</h6>
    @for (list of playlistService.playlists(); track list.id) {
    <button class="playlist-option" (click)="addToPlaylist($event, list.id)" [disabled]="isSongInPlaylist(list.id)">
      {{ list.listName }}
      @if (isSongInPlaylist(list.id)) {
      <span class="exists-badge">✓</span>
      }
    </button>
    }
  </div>
  }

  <h3>{{ track().title }}</h3>
  <p>{{ track().artist }}</p>
</article>
}