/* CONTENEDOR GENERAL DE LA TARJETA */
.track-card {
  width: 160px;
  padding: 12px;
  border-radius: 10px;
  background: #181818;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.card .title {
  margin-top: 8px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .subtitle {
  font-size: 14px;
  color: #bbb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-btn {
  position: absolute;
  bottom: 75px;
  right: 15px;
  background: #1db954;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: black;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(10px);
}

.card:hover .play-btn {
  opacity: 1;
  transform: translateY(0);
}
