.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
}

.artist-card {
  transition: transform 0.3s;
}

.artist-card:hover {
  transform: scale(1.1);
}
