.sidebar {
  background-color: #121212;
  color: white;
  width: 240px;
  height: 100vh;
  padding: 2rem 1rem;
  position: fixed;
}
.sidebar a {
  display: block;
  margin-bottom: 1rem;
  color: white;
  text-decoration: none;
}
.sidebar a:hover {
  color: #1db954;
}
