:root {
  --bg: #0f0f0f;
  /*color de fondo*/
}

html,
body {
  height: 100%;
  /*ocupan toda la altura de la ventana*/
  background: var(--bg);
  /**/
  color: #151515;
  padding-bottom: 300px;
}

/*FOndo oscuro */
* {
  box-sizing: border-box;
}

/*Incluye padding/border del width/height*/

.player-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Quita márgenes */
  z-index: 1000;
  background-color: #000000;
  /* Fondo oscuro para la barra */
  border-top: 10px solid #000000;
  /* Borde superior sutil */
  padding: 10px 10px;
}