.layout {
  display: flex;
  height: 100vh;
  background-color: var(--background-dark);
  color: var(--text-light);
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  margin-left: 240px; /* ancho del sidebar */
  overflow-y: auto;
}
