button {
    border: none;
    color: var(--text);
    background: var(--border);
    padding: 10px 20px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: var(--card);
    background: var(--muted);
}

.log-icon {
    font-size: 1.5rem;
    margin-left: 6px;
    transition: transform 0.4s ease-in-out;
}

.log-text {
    font-weight: bold;
}