button {
    border: none;
    color: var(--text);
    background: var(--border);
    transition: scale 0.4s ease-in-out;
    transition: color .4s ease-in-out, background .4s ease-in-out,
    box-shadow .4s ease-in-out, transform .4s ease-in-out;
    padding: 5px 10px;
}

button:hover {
    color: var(--accent);
    background: var(--border);
    box-shadow: inset 0 0 10px var(--accent);
    transform: scale(1.15);
}