@if (currentUser$ | async; as user) {
<div>
  <button (click)="startLogout()" class="logout-btn">
    <span class="log-text">Logout</span>
    <iconify-icon class="log-icon" icon="teenyicons:x-outline"></iconify-icon>
  </button>
</div>
} @else {
<button (click)="openLoginModal()">
  <span class="log-text">Login</span>
  <iconify-icon class="log-icon" icon="teenyicons:keyboard-outline"></iconify-icon>
</button>
}

@if (isLoginModalOpen) {
<app-login-modal (close)="closeLoginModal()" (openRegister)="openRegisterModal()">
</app-login-modal>
}

@if (isRegisterModalOpen) {
<app-register-modal (close)="closeRegisterModal()">
</app-register-modal>
}

@if (isLoggingOut) {
<div class="modal-overlay" (click)="cancelLogout()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="cancelLogout()">&times;</button>

    <h2>Cerrar sesión</h2>
    <p class="modal-message">¿Estás seguro de que quieres salir de tu cuenta?</p>

    <div class="modal-actions">
      <button class="modal-cancel" (click)="cancelLogout()">Cancelar</button>
      <button class="modal-confirm" (click)="confirmLogout()">Cerrar sesión</button>
    </div>
  </div>
</div>
}