@if (track()) {
<div class="track-detail-container">
  <div class="track-banner">
    <div class="track-artwork">
      <img [src]="track()!.cover" alt="Album Art" />
    </div>

    <div class="track-info">
      <span class="type-label">CANCIÓN</span>
      <h1 class="track-title">{{ track()!.title }}</h1>
      <div class="track-meta">
        <span class="artist-name">{{ track()!.artist }}</span>
        <span class="separator">•</span>
        <a [routerLink]="['/albumDetail', track()!.albumId]" class="album-name">{{ track()!.album }}</a>
      </div>

      <div class="actions">
        <button class="play-btn-large" (click)="play()">▶</button>
      </div>
    </div>
  </div>
  @if (lyrics()) {
  <div class="lyrics-section">
    <h3>Letra</h3>
    <p class="lyrics-text">{{ lyrics() }}</p>
  </div>
  }
</div>
}