.play-btn {
  bottom: 10px;
  right: 10px;
  background: #1db954;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.lyrics-container {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
.lyrics-text {
  white-space: pre-wrap;
  font-family: monospace;
  line-height: 1.6;
}