.search-container {
  position: relative;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: #222;
  border: 1px solid #444;
  color: white;
}

.dropdown {
  position: absolute;
  top: 48px;
  width: 100%;
  background: #111;
  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;
  z-index: 20;
}

.dropdown li {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.dropdown li.active {
  background: #1db954;
}

.dropdown img {
  width: 45px;
  height: 45px;
  border-radius: 4px;
}
