.search-container {
  position: relative;
  width: 400px;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid var(--border);
  font-size: 1rem;
  transition: border-color 0.3s;
  color: white;
  background-color: var(--card);
}

.search-input:focus {
  outline: none;
  border-color: var(--accent);
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: rgb(77, 77, 77);
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.search-result-item {
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-bottom: 1px solid #333;
  /* Darker border for dark mode feel */
  /* right aumentado para dejar espacio a la scrollbar */
  color: white;
  display: flex;
  align-items: center;
}

.search-result-cover {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 12px;
  border-radius: 4px;
}

.search-result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-name {
  font-size: 0.85rem;
  color: #b3b3b3;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item:hover {
  background-color: var(--accent);
}

.no-results .search-result-item {
  cursor: default;
  color: #999;
}

.no-results .search-result-item:hover {
  background-color: var(--card);
}

.search-result-item.highlighted {
  background: var(--accent);
  color: #fff;
}