.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.track-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.album-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}