* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(55, 54, 54);
}
h1,
h2 {
  color: white;
}
main {
  gap: 50px;
  display: flex;
  flex-direction: column;
}
.caja-biblioteca {
  display: flex;

  gap: 20px;
  align-items: center;
}

.opciones {
  gap: 20px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
