<div class="album-page" *ngIf="album()">
    <!-- CABECERA -->
    <header class="album-header">
        <div class="cover-art">
            <img [src]="album().cover" [alt]="album().title">
        </div>
        <div class="album-info">
            <span class="type">Álbum</span>
            <h1 class="title">{{ album().title }}</h1>
            <div class="meta">
                <div class="artist-info">
                    <span class="artist-name">{{ album().artist }}</span>
                </div>
                <span class="dot">•</span>
                <span class="year">{{ getYear(album().releaseDate) }}</span>
                <span class="dot">•</span>
                <span class="song-count">{{ album().trackCount }} canciones</span>
            </div>
        </div>
    </header>
    <div class="action-bar">
        <button class="play-btn-large" (click)="playAlbum()">
            @if (!isAlbumPlaying()) {
            <!-- PLAY -->
            <svg viewBox="0 0 24 24">
                <path d="M8 5v14l11-7z" />
            </svg>
            } @else {
            <!-- PAUSE -->
            <svg viewBox="0 0 24 24">
                <path d="M6 5h4v14H6zM14 5h4v14h-4z" />
            </svg>
            }
        </button>
    </div>

    <!-- LISTA DE CANCIONES -->
    <div class="track-list-container" [class.is-scrollable]="tracks().length > 15">
        <div class="track-list-header">
            <div class="col-number">#</div>
            <div class="col-title">Título</div>
        </div>

        <div class="track-row" *ngFor="let track of tracks(); let i = index" [routerLink]="['/trackDetail', track.id]"
            [class.playing]="audioService.currentTrack()?.id === track.id">
            <div class="col-number">
                <span class="track-index">
                    <span *ngIf="audioService.currentTrack()?.id === track.id && audioService.isPlaying()"
                        style="color: var(--accent);">
                        <svg viewBox="0 0 24 24" style="width: 16px; height: 16px; fill: currentColor;">
                            <path d="M6 5h4v14H6zM14 5h4v14h-4z" />
                        </svg>
                    </span>
                    <span *ngIf="!(audioService.currentTrack()?.id === track.id && audioService.isPlaying())">{{ i + 1
                        }}</span>
                </span>
                <button class="track-play-btn" (click)="$event.stopPropagation(); playFromTrack(i)">
                    @if (!(audioService.currentTrack()?.id === track.id && audioService.isPlaying())) {
                    <svg viewBox="0 0 24 24">
                        <path d="M8 5v14l11-7z" />
                    </svg>
                    } @else {
                    <svg viewBox="0 0 24 24">
                        <path d="M6 5h4v14H6zM14 5h4v14h-4z" />
                    </svg>
                    }
                </button>
            </div>
            <div class="col-title">
                <span class="track-name">{{ track.title }}</span>
                <span class="track-artist">{{ track.artist }}</span>
            </div>
            <div class="col-time">{{ formatDuration(track.duration) }}</div>
        </div>
    </div>
</div>